.body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 10px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    color: #333333;
	background-color: #ffffff;
}

.container {
	display: flex;
	margin: 0 auto;
	justify-content: flex-start;
}

.bubble {
	width: 50px;
	height: 50px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 30px;
	text-align: center;
	line-height: 50px;
}