body {
	margin: 0;
	padding: 0;
	font-size: 12px;
    font-family: "Arial", sans-serif;
    color: #333333;
	background-color: #f2f5f6;
}

.contentBubbles {
	display: flex;
	margin: 0;
	padding: 0;
	min-width: 300px;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
}

.bubble {
	position: relative;
	min-width: 20px;
	min-height: 20px;
	margin: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	box-shadow: 0 0 5px #777777;
	text-align: center;
}

.bubble:before {
	content: "";
	height: 10%;
	width: 20%;
	position: absolute;
	left: 50%;
	top: -12%;
	margin-left: -10%;
	background: silver;
	background: linear-gradient(to right, #fff, #9c9c9c, #fff, #9c9c9c);
	border: 1px solid #dadada;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 -1px 0 rgba(255,255,255,0.3) inset;
}

.bubble:after {
	content: "";
	height: 80%;
	width: 80%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -40%;
	background: #fff;
	background: linear-gradient(to bottom, #fff, rgba(255,255,255,0.1) );
	opacity: 0.15;
	border-radius: 100px;
}

.bubbleRed {
	background: #c8171f;
	background: radial-gradient(circle farthest-corner at 40% 40%, #f9d0be, #c8171f 40%);
	transform: rotate(5deg);
}
.bubbleBlue {
	background: #00a1ee;
	background: radial-gradient(circle farthest-corner at 40% 40%, #cde6f9, #00a1ee 40%);
	transform: rotate(3deg);
}
.bubbleYellow {
	background: #fcb83d;
	background: radial-gradient(circle farthest-corner at 40% 40%, #fcf3a6, #fcb83d 40%);
	transform: rotate(-5deg);
}
.bubbleGreen {
	background: #4d8d00;
	background: radial-gradient(circle farthest-corner at 40% 40%, #d1e5b2, #4d8d00 40%);
	transform: rotate(-3deg);
}

.bubbleInFocus {
	box-shadow: 0 0 50px 10px yellow;
}

.bubbleFalse {
	box-shadow: 0 0 50px 10px red;

}


/*Анимация*/
@keyframes moveTopLeft{
	50% {
		transform: translate(-50px, -50px);
	}
	100% {
		transform: translate(-100px, 0px);
	}
}

@keyframes moveBottomRight {
	50% {
		transform: translate(50px, 50px);
	}
	100% {
		transform: translate(100px, 0px);
	}
}

.moveBubbleToLeft {
	animation-name: moveTopLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.moveBubbleToRight {
	animation-name: moveBottomRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
